    .about_us {
    color: black;
    font-family: Archivo;

    background-color: white;
}

.team_member {
    text-align: center;
}

.team_card {
    background-color: palevioletred;
}

.team {
    margin-top: 100px;
    margin-left: 7%;
    margin-right: 7%;
}

.about_header {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}
.mission{
    position: relative;
    top: 70px;
}
.globe {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    z-index: 0;
    position: relative;
    bottom: 300px;
}

.achieve_text {
    font-size: 45px;
    font-weight: 600;
}

.achievement {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 100px;
}

.globe_images {
    position: relative;
    bottom: 100px;
}





.about_items {
    font-size: 20px;
}


.coins {
    z-index: 10;
    position: relative;
    top: 10px;

}

.about_eth {
    margin-top: 100px;
    width: 120px;
    height: 120px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 100px;
    position: relative;
    top: 170px;
}

.about_lana {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    margin-left: 180px;
    margin-top: 100px;
    position: relative;
    top: 60px;
    right: 40px;
}

.about_sola {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

.about_btc {
    margin-top: 100px;
    width: 180px;
    height: 180px;
    margin-left: 200px;
    margin-top: 100px;
    position: relative;
    top: 90px;
}

.system_class {
    margin-top: 280px;
    margin-bottom: 200px;
    margin-left: 7%;
    margin-right: 7%;
}

.system {
    height: 700px;
}

.system_text {
    margin-right: 5%;
}

.syste {
    font-size: 60px;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .about_sola {
        margin-top: 100px;
        width: 160px;
        height: 160px;
        margin-top: 100px;
    }

    .about_btc {
        margin-top: 100px;
        width: 150px;
        height: 150px;
        margin-left: 200px;
        margin-top: 70px;
        position: relative;
        top: 90px;
    }

    .about_eth {
        margin-top: 100px;
        width: 100px;
        height: 100px;
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 100px;
        position: relative;
        top: 100px;
    }

    .text_btn_1 {
        width: 200px;
        background-color: greenyellow;
        color: black;
        border-radius: 25px;
        height: 50px;
    }

    .achieve_text {
        font-size: 35px;
        font-weight: 600;
    }

    .achieve_seb {
        font-size: 14px;
    }

    .card_header {
        font-size: 28px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .syste {
        font-size: 40px;
        font-weight: 600;
    }

    .system {
        height: 500px;
    }

}

.achievement {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 830px) {
    .achievement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .verificaton_text {
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .card {
        width: 100%;
        height: 200px;

    }

    .card_sub {
        text-align: center;
        height: 150px;
        border: 1px solid gray;
    }
}

@media only screen and (max-width: 768px) {
    .about_header {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-top: 20px;
    }

    .coins {
        z-index: 10;
        position: relative;
    }

    .globe {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        z-index: 0;
        position: relative;
        bottom: 200px;
    }

    .about_eth {
        margin-top: 100px;
        width: 120px;
        height: 120px;
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 100px;
        position: relative;
        top: 40px;
    }

    .about_lana {
        margin-top: 100px;
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 10px;
        position: relative;
        top: 60px;
    }

    .about_sola {
        margin-top: 100px;
        width: 200px;
        height: 100px;
        margin-top: 100px;
    }

    .about_btc {
        margin-top: 100px;
        width: 120px;
        height: 120px;
        margin-left: 200px;
        margin-top: 100px;
        position: relative;
        top: 50px;
    }

    .system_class {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 425px) {
    .globe{
        position: relative;
        bottom: 40px;
    }
    .coins{

        display: none;
    }

    .about_eth {
        margin-top: 100px;
        width: 50px;
        height: 0px;
        margin-right: 70px;
        margin-left: 70px;
        margin-top: 100px;
        position: relative;
        top: 170px;
    }

    .about_lana {
        margin-top: 100px;
        width: 60px;
        height: 60px;
        margin-left: 180px;
        margin-top: 100px;
        position: relative;
        top: 10px;
        right: 300px;
    }

    .about_sola {
        margin-top: 100px;
        width: 70px;
        height: 70px;
        margin-top: 100px;
    }

    .about_btc {
        margin-top: 100px;
        width: 60px;
        height: 70px;
        margin-left: 200px;
        margin-top: 100px;
        position: relative;
        top: 90px;
    }
    .system{
        height: 500px;
        margin-top: 60px;
    }
    .about_header {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 20px !important;
    }
}