.blogsPost {
    background-color: white;
    color: black;
    font-family: Archivo;
    padding-bottom: 100px;
   

}

.resource {
    font-size: 65px;
    text-align: center;
    font-weight: 600;
    margin-top: 140px;
}

.res {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.blog_card {
    margin-top: 60px;
    margin-left: 30px;
}

.search {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;


}

.blog_hero {
    border-top-left-radius: 30px;
    border: 1px solid gray;
    border-bottom-left-radius: 30px;

}

.blog_card {
    padding-bottom: 20px;
}

.blog_hero_img {
    height: 400px;
    width: 600px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid gray;
}


.blog_header {
    border-radius: 30px;
}

.blog_header {
    font-size: 33px;
}

.blog_head {
    padding-left: 30px;
}

.blog_sub {
    font-size: 18px;
}

.greenArrow {
    width: 30px;
    margin-left: 15px;
}

.newletter {
    margin-top: 170px;

    background-color: greenyellow;
}
.subsctiText{
    text-align: center;
}

.all {
    margin-left: 7%;
    margin-right: 7%;
    height: 1000px;
    margin-bottom: 1400px;
}

.blog_heads {
    border: 1px solid gray;
    border-radius: 30px;
}

.blog_content {
    margin-top: 150px;
    border-radius: 30px;
    border: 1px solid gray;
    margin-left: 12%;
    margin-right: 12%;
}

.news {
    color: black;
    margin-left: 7%;
    margin-right: 7%;
}

.blog_img {
    width: 530px;
}

.news_text {
    padding: 100px;
    text-align: center;
    align-items: left;
    justify-content: left;
}

.subscibe {
    font-size: 50px;
    font-weight: 900px;
}

.letter {
    position: relative;
    bottom: 25px;
}

.input {
    width: 350px;
    border-radius: 20px;
    border: 1px solid black;
    height: 50px;
    margin-top: 20px;
    background-color: greenyellow;
    margin-left: 50px;
}

.subs {
    background-color: black;
    border-radius: 20px;
    height: 50px;
    color: white;
    width: 140px;
    position: relative;
    right: 100px;
    top: 20px;
}

.bars {
    display: flex;
    justify-content: left;

}
@media only screen and (max-width: 425px) {
    .blog_img {
        width: 350px;
    }
    .subsc {
        font-size: 30px !important;
        font-family: 600;
    }
    .inpBar {
        width: 400px;
        height: 40px;
        border-radius: 15px;
        background-color: greenyellow;
        border: 2px solid black;
        margin-top: 10px;
    }
    
    
}
@media only screen and (max-width: 375px) {
    .blog_img {
        width: 350px;
    }
    .subsc {
        font-size: 30px !important;
        font-family: 600;
    }
    .inpBar {
        width: 350px;
        height: 40px;
        border-radius: 15px;
        background-color: greenyellow;
        border: 2px solid black;
        margin-top: 10px;
    }
    
    
}

@media only screen and (max-width: 320px) {
    .blog_img {
        width: 350px;
    }
    .subsc {
        font-size: 30px !important;
        font-family: 600;
    }
    .inpBar {
        width: 320px;
        height: 40px;
        border-radius: 15px;
        background-color: greenyellow;
        border: 2px solid black;
        margin-top: 10px;
    }
    
    
}
.subsz {
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 15px;
    position: relative;
    right: 50px;
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.inpBar {
    width: 400px;
    height: 35px;
    border-radius: 15px;
    background-color: greenyellow;
    border: 2px solid black;
    margin-top: 10px;
}

.blog_button {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.subsc {
    font-size: 50px;
    font-family: 600;
}

.blogz {
    background-color: rgba(128, 128, 128, 0.281);

}

.latest {
    font-size: 48px;
}

.blog_card {
    border-radius: 30px;
    border: 1px solid gray;
}

@media only screen and (max-width: 905px) {
    .news_text {}
}
@media only screen and (max-width: 425px) {
    .blog_img {
        width: 350px;
    }
    .subsc {
        font-size: 30px !important;
        font-family: 600;
    }
    .inpBar {
        width: 200px;
        height: 35px;
        border-radius: 15px;
        background-color: greenyellow;
        border: 2px solid black;
        margin-top: 10px;
    }
    
 .bars{
    margin-bottom: 18px;
    margin-left: 30px
 }   
}