.career {
     background-color: black;
     color: white;
}

.career_hero {
     margin-top: 100px;
     margin-left: 7%;
     margin-right: 7%;
}

.joinUs {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.perks_head {
     font-size: 25px;
     font-weight: 500;
     margin-top: 50px;
     margin-bottom: 30px;
}

.perk_head {
     height: 837px;
     text-align: center;
     margin-right: 10%;
     margin-left: 10%;
}

.perk_icn {
     margin-left: auto;
     margin-right: auto;
     height: 70px;

}

.perks {
     padding-top: 65px;
     border: 1px solid rgb(83, 80, 80);
     padding-left: 18px;
     padding-right: 18px;

}

.p1 {
     border-top-left-radius: 30px;
}

.p4 {
     border-bottom-left-radius: 30px;
}

.p2 {
     border-top-right-radius: 30px;
}

.p6 {
     border-bottom-right-radius: 30px;

}

.culture {
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 150px;
}

.pc {
     width: 650px;
}

.board {
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 150px;
}

.job {
     height: 700px;
     width: 600px;
     border: 1px solid gray;
     border-radius: 35px;
}

.job_head {
     font-size: 24px;
     margin-left: 20px;
}

.loc {
     margin-top: 10px;
     margin-left: 20px;
}

.jb_1 {
     border-top-right-radius: 30px;
     border-top-left-radius: 30px;
}

.jb_1 {
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
}