.career {
     background-color: black;
     color: white;
}

.career_hero {
     margin-left: 7%;
     margin-right: 7%;
     padding-top: 120px;
}

.joinUs {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.perks_head {
     font-size: 25px;
     font-weight: 500;
     margin-top: 50px;
     margin-bottom: 30px;
}

.perk_head {
     height: 837px;
     text-align: center;
     margin-right: 10%;
     margin-left: 10%;
}

.perk_icn {
     margin-left: auto;
     margin-right: auto;
     height: 70px;

}

.perks {
     padding-top: 65px;
     border: 1px solid rgb(83, 80, 80);
     padding-left: 18px;
     padding-right: 18px;

}

.p1 {
     border-top-left-radius: 30px;
}

.p4 {
     border-bottom-left-radius: 30px;
}

.p2 {
     border-top-right-radius: 30px;
}

.p6 {
     border-bottom-right-radius: 30px;

}

.culture {
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 150px;
}

.pc {
     width: 650px;
}

.board {
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 150px;

}

.job {
     height: 800px;
     width: 600px;
     border: 1px solid gray;
     border-radius: 30px;
}

.jb_1 {
     border-top-right-radius: 30px;
     border-top-left-radius: 30px;
}

.jb_6 {
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
}

.job_card {
     border: 1px solid gray;
     padding-top: 20px;
     padding-right: 20px;
}

.job_head {
     font-size: 24px;
     margin-left: 20px;
     font-weight: 500;
}

.green_arrow{
     height: 40px;
     margin-top: 15px;
     margin-right: 10px;
}

.loc {
     margin-top: 10px;
     margin-left: 20px;
}
.singleCareer{
     background-color: black;
     color: white;
}
.location{
     text-align: center;
     margin-top: 200px;
     font-size: 20px;
}
.job_title{
     text-align: center;
     font-size: 50px;
}
.jb_desc{
     text-align: center;
     font-size: 16px;
}
.apply {
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 500;
 }
 .job_description{
     margin-left: 10%;
     margin-top: 140px;
     margin-right: 10%;
 }
 .job_dec{
     font-size: 40px;
     margin-right: 200px;
 }
 .jb_text{
     width: 50%;
 }
 .job_description{
     border-top: 1px solid gray;
     padding-top: 100px;
 }