.card_section {
    background-color: black;
    color: white;
    font-family: Archivo;

}

.card_text {
    text-align: center;
    font-size: 70px;
    margin-top: 100px;
    font-weight: 600;
}

.card_truzact {
    margin-left: auto;
    margin-right: auto;
    width: 700px;

}

.card_1 {
    margin-top: 170px;
    margin-left: 7%;
    margin-right: 7%;
}

.card_wallet {
    width: 500px;
    margin-left: 100px;
}
.question{
    font-size: 20px; 
    
}
.card_head {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.cardtext {
    max-width: 500px;
}

.card_rates {
    width: 500px;
    margin-right: 100px;
}

.card_2 {
    margin-top: 220px;
    margin-left: 7%;
    margin-right: 7%;
}

.card_banner {

    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    background-color: rgb(56, 56, 56);
    max-width: 1200px;
}

.bannerz {
    width: 500px;

}

.bannerrs {
    margin-top: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.steps {
    background-color: rgb(31, 30, 30);
    height: 250px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}

.card_icons {
    width: 50px;
}

.steps_count {
    font-size: 30px;
}

.working {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

.working_head {
    margin-top: 200px;
}

.faq_head {
    margin-top: 150px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.faq{
    font-size: 35px;
}