.exchange{
    background-color: white;
    color: black;
    font-family: Archivo;

}
.exchange_hero{
    padding-top: 150px;
    margin-left: 7%;
    margin-right: 7%;
}
.exhange_header{
    font-size: 50px;
    font-weight: 900;
}
.exchange_btn {
    width: 200px;
    background-color: greenyellow;
    height: 50px;
    font-size: 20px;
    color: black;
}
.exchange_steps{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 200px;
}
.smallIcon{
    width: 30px;
    margin-right: auto;
}
.exchange_steps2{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 250px; 
}
.exchange_text{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.round{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    margin-left: 8px;
    margin-top: 10px;
}
.round2{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    margin-left: 9px;
    margin-top: 10px; 
}
.gr{
    height: 500px;
    width: 500px;
   margin-top: 200px;
}
.pone{
    height: 600px;
    width: 300px;
}
.lastboder{
    border: 2px solid black;
}
.round3{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    margin-left: 10px;
    margin-top: 10px;
}
@media only screen and (max-width: 1024px) {
    .exchange_text{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .exchange_text_sub{
        font-size: 16px;
    }
    .gr{
        height: 350px;
        width: 350px;
       margin-top: 200px;
    }

    .exhange_hero_img{
        margin-top: 100px;
        width: 500px;
        height: 400px;
    }

}
@media only screen and (max-width: 910px) {
    .exchange_hero{
        display: grid;
    }
   
    .exhange_hero_img{
        width: 400px;
        height: 400px;
        margin-top: 60px;
    }
    .exchange_steps{
        display: grid;
    }
   .gr{
    margin-right: auto;
    margin-left: auto;
   }
   .exchange_steps2{
    display: flex;
    flex-direction: column-reverse;
   }
   .exchange_text{
    text-align: center;
   }
  .exchange_text_sub{
    text-align: center;
  }
  .exchange_step{
    margin-left: auto;
    margin-right: auto;
  }
  .pone{
    margin-left: auto;
    margin-right: auto;
  }
  .exchange_s{
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 910px) {
    .exhange_header{
        font-size: 35px;
        font-weight: 900;
    }
    .exhange_hero_img{
        width: 350px;
        height: 350px;
    }
}
