* {
    margin: 0;
    border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: rgb(1, 5, 14);
    height: 70px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 6;
}

.logo {
    height: 45px;
    position: relative;
    bottom: 17px;
    position: relative;
    top: 0px;
}

.nav_btn {
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    width: 150px;
    background-color: #1971F9;
    color: black;
    font-weight: 500;
}

.header_content {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 956px) {
    .cta_button {
        height: 25px;
        border-radius: 30px !important;
    }
}
@media only screen and (max-width: 956px) {
    .cta_button {
        margin-top: 15px;
        background-color: #1971F9;
        color: black;
        border-radius: 10px;
        margin-top: 6px;
    }

    .word {
        margin-left: 4px;
        font-weight: 600;
    }

    .arrow_black {
        transform: rotate(90deg);
        margin-left: 7px;
        margin-right: 6px;
    }

    .header {
        display: none;
    }

    .header_mob {
        display: flex;
       padding-left: 20px;
       padding-right: 20px;
        background-color: black;
        padding-bottom: 5px;
       
    }

    .open {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .close {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }
}

@media only screen and (min-width: 956px) {
    .header_mob {
        display: none;
    }
}