* {
    margin: 0;
    border: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: black;
    height: 70px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
   z-index: 6; 
}

.logo {
    height: 100px;
    position: relative;
    bottom: 17px;
}

.nav_btn {
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    width: 150px;
    background-color: greenyellow;
    color: black;

}

.header_content {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 956px) {
    .cta_button{
        margin-top: 15px;
        background-color: greenyellow;
        color: black;
        border-radius: 10px;
        margin-top: 6px;
    }
    .word{
        margin-left: 4px;
    }
    .arrow_black{
        transform: rotate(90deg);
        margin-left: 7px;
        margin-right: 6px;
    }
    .header {
        display: none;
    }
    .header_mob{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }
    .open{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .close{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }
}

@media only screen and (min-width: 956px) {
   .header_mob{
    display: none;
   }
}

