.hedge {
    background-color: black;
    color: white;
    font-family: Archivo;

}


.hedgeFund {
    margin-bottom: 100px;
    margin-left: 7%;
    margin-right: 7%;
}

.hedge_content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.hedge_img {
    width: 60%;
    margin-top: 180px;
}

.hedge_text {
    width: 40%;
    margin-top: 170px;
}

.safe {
    width: 500px;
    z-index: 0;
    height: 520px;
    position: relative;
    left: 200px;
}

.hedgeText {
    width: 40%;
}

.pry {
    width: 130px;
    height: 130px;
    z-index: 1;
    position: relative;
    right: 970px;
    top: 150px;
}

.lan {
    width: 140px;
    height: 150px;
    z-index: 1;
    position: relative;
    top: 250px;
    right: 1020px;
}

.add {
    width: 120px;
    height: 90px;
    z-index: 1;
    position: relative;
    top: 100px;
    right: 650px;
}

.dodge {
    width: 160px;
    height: 160px;
    z-index: 1;
    position: relative;
    right: 290px;
    top: 10px;
}

.prism {
    width: 70px;
    height: 70px;
    z-index: 1;
    position: relative;
    right: 300px;
    top: 50px;
}

.etherum {
    width: 140px;
    height: 140px;
    position: relative;
    right: 10px;
    top: 240px;
    z-index: 1;
}

.solana {
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 1;
    right: 30px;
    top: 330px;
}

.laptop {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.hedge_content_2 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10%;
    margin-right: 10%;
}


@media only screen and (max-width: 1024px) {
    .hedge_text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .hedgeFund {
        display: grid;
    }

    .hedge_btn {
        margin-left: auto;
        margin-right: auto;
    }

    .safe {
        width: 800px;
        z-index: 0;
        height: 520px;
        position: relative;
        height: 600px;
    }

    .solana {
        width: 150px;
        height: 150px;
        position: relative;
        z-index: 1;
        right: 50px;
        top: 420px;
    }

    .etherum {
        width: 140px;
        height: 140px;
        position: relative;
        top: 240px;
        z-index: 1;
    }

    .dodge {
        width: 120px;
        height: 120px;
        z-index: 1;
        position: relative;
        right: 130px;
        top: 10px;
    }

    .add {
        width: 70px;
        height: 70px;
        z-index: 1;
        position: relative;
        top: 50px;
        right: 450px;
    }

    .pry {
        width: 150px;
        height: 100px;
        z-index: 1;
        position: relative;
        right: 1090px;
        top: 120px;
    }

    .prism {
        width: 100px;
        height: 100px;
        z-index: 1;
        position: relative;
        right: 200px;
        top: 0px;
    }

    .lan {
        width: 100px;
        height: 100px;
        z-index: 1;
        position: relative;
        top: 250px;
        right: 70px;
    }

    .dodge {
        width: 160px;
        height: 160px;
        z-index: 1;
        position: relative;
        right: 290px;
        top: 10px;
    }

    .add {
        width: 140px;
        height: 110px;
        z-index: 1;
        position: relative;
        top: 100px;
        right: 650px;
    }
}

@media only screen and (max-width: 768px) {
    .add {
        width: 140px;
        height: 110px;
        z-index: 1;
        position: relative;
        top: 50px;
        right: 550px;
    }

    .prism {
        width: 100px;
        height: 100px;
        z-index: 1;
        position: relative;
        top: 0px;
        right: 350px;
    }

    .safe {
        width: 600px;
        z-index: 0;
        height: 520px;
        position: relative;
        height: 500px;
    }

    .dodge {
        width: 120px;
        height: 120px;
        z-index: 1;
        position: relative;
        right: 230px;
        top: 10px;
    }

    .pry {
        width: 150px;
        height: 100px;
        z-index: 1;
        position: relative;
        right: 990px;
        top: 120px;
    }

    .solana {
        width: 150px;
        height: 150px;
        position: relative;
        z-index: 1;
        right: 10px;
        top: 400px;
    }
}

@media only screen and (max-width: 425px) {
    .hedge_img {
        margin-left: auto;
        margin-right: auto;

    }

    .safe {
        z-index: 0;
        position: relative;
        width: 300px;
        height: 400px;
        left: 50px;
    }

    .hedge_img {
        width: 100%;

    }

    .solana {
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 1;
        right: 30px;
        top: 330px;
    }

    .etherum {
        width: 70px;
        height: 70px;
        position: relative;
        right: 50px;
        top: 240px;
        z-index: 1;
    }

    .dodge {
        width: 90px;
        height: 90px;
        z-index: 1;
        position: relative;
        right: 210px;
        top: 10px;
    }

    .add {
        width: 60px;
        height: 60px;
        z-index: 1;
        position: relative;
        top: 70px;
        right: 450px;
    }

    .prism {
        width: 70px;
        height: 70px;
        z-index: 1;
        position: relative;
        right: 250px;
        bottom: 50px;
    }
}

@media only screen and (max-width: 375px) {
    .hedge_img {
        margin-left: auto;
        margin-right: auto;

    }

    .safe {
        z-index: 0;
        position: relative;
        width: 250px;
        height: 300px;
        left: 50px;
    }

    .hedge_img {
        width: 100%;

    }

    .solana {
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 1;
        right: 30px;
        top: 230px;
    }

    .etherum {
        width: 70px;
        height: 70px;
        position: relative;
        right: 50px;
        top: 140px;
        z-index: 1;
    }

    .dodge {
        width: 80px;
        height: 80px;
        z-index: 1;
        position: relative;
        right: 190px;
        top: 1px;
    }

    .add {
        width: 60px;
        height: 60px;
        z-index: 1;
        position: relative;
        top: 50px;
        right: 380px;
    }

    .prism {
        width: 70px;
        height: 70px;
        z-index: 1;
        position: relative;
        right: 250px;
        bottom: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .hedge_img {
        margin-left: auto;
        margin-right: auto;

    }

    .safe {
        z-index: 0;
        position: relative;
        width: 250px;
        height: 300px;
        left: 30px;
    }

    .hedge_img {
        width: 100%;

    }

    .solana {
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 1;
        right: 80px;
        top: 230px;
    }

    .etherum {
        width: 70px;
        height: 70px;
        position: relative;
        right: 100px;
        top: 140px;
        z-index: 1;
    }

    .dodge {
        width: 80px;
        height: 80px;
        z-index: 1;
        position: relative;
        right: 220px;
        top: 1px;
    }

    .add {
        width: 60px;
        height: 60px;
        z-index: 1;
        position: relative;
        top: 50px;
        right: 380px;
    }

    .prism {
        width: 50px;
        height: 50px;
        z-index: 1;
        position: relative;
        right: 290px;
        bottom: 0px;
    }
}