.land {
    background-color: black;
    color: white;
    font-family: Archivo;
}

.hero_text{
    margin-top: 190px;
}
.hero_images {
    width: 60%;
    margin-top: 190px;
}

.hero_text_main {
    font-size: 50px;
    font-weight: bolder;
}



.capture {
    height: 380px;
}

.rinng {
    height: 200px;
    position: relative;
    right: 450px;
    bottom: 50px;
}


.hero_page {
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    position: fix;
}



.feature_head {
    text-align: justify;
    font-size: 50px;
}

.cta3 {
    font-weight: 600;
    font-size: 60px;

}

.feature_sub {
    font-size: 22px;
}

.images_Section {
    width: 50%;
    display: flex;
}

.features_texts {
    width: 50%;
}


.features {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 150px;
}



.lana {
    position: absolute;
    right: 130px;
    top: 100px;
    width: 60px;
}



.lock {
    height: 650px;
    z-index: 0;
    position: relative;
    left: 250px;
}

.graph {
    z-index: 1;
    max-width: 320px;
    max-height: 320px;
    position: relative;
    top: 180px;
    right: 220px;
}

.btc {
    z-index: 1;
    height: 120px;
    position: relative;
    top: 450px;
    right: 470px;
}



.text_btn_1 {
    width: 200px;
    background-color: greenyellow;
    color: black;
    border-radius: 25px;
    height: 50px;
}

.store {
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
}


.store2 {
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

.tutorial_text {
    text-align: center;
    font-size: 50px;
}

.tutorial {
    margin-left: 5%;
    margin-right: 5%;
}

.step {
    width: 50%;
    border: 1px solid gray;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;


}

.test_img {
    width: 70px;
    border-radius: 50%;
}

.testimonal_sub {
    text-align: center;
}

.testimonal_card {
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}


.testimonial {
    margin-top: 180px;
    margin-left: 5%;
    margin-right: 5%;
}

.hero_text {
    width: 40%;
}


.hero_lap {
    width: 600px;
    margin-left: 60px;
}

.trader {
    border-bottom-right-radius: 35px;

}

.download {
    border-top-right-radius: 35px;

}

.tutorial_video {
    width: 50%;
    border: 1px solid gray;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.step2 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 27px;
}

.top {
    position: relative;
    top: 10px;
}

.title {
    font-size: 35px;
    margin-top: 20px;
    margin-left: 47px;
}

.title2 {
    font-size: 35px;
    margin-left: 47px;
}

.toggle {
    font-size: 25px;

}

.trade {
    width: 69px;
}

.step1 {
    align-items: center;
    border: 1px solid gray;

}

.tutor {
    height: 600px;
}

.blogspost {
    border: 1px solid gray;
    padding-bottom: 70px;

}

.final_cta {
    font-size: 45px;
}

.cta4 {
    margin-left: 5%;
    margin-right: 5%;
}

.text_btn_2 {
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 50px;
    border: 1px solid white;
}

.date {
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 40px;
}

.blogs {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 180px;
}

.verificaton_text {
    width: 50%;
}

.c2 {
    border: solid 1px gray;
}

.truzact_feature {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 100px;
}

.truzact_border {
    border: 2px solid white;
    padding-left: 25px;
    padding-bottom: 20px;
}

.about {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
}

.wallet {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.transfer {
    margin-left: auto;
    margin-right: auto;
    height: 62px;
}

.c1 {
    z-index: 0;

}

.c3 {
    border: solid 1px gray;
    border-top-left-radius: 35px;

}

.c4 {
    border-top-right-radius: 35px;
}

.c5 {
    border-bottom-left-radius: 35px;
}

.c6 {
    border-bottom-right-radius: 35px;

}

.kin {
    font-size: 25px;
    text-align: center;
}

.kinp {
    font-size: 25px;

}

.learn {
    font-weight: bold;
}

.arroww {
    width: 30px;
}

.verification {
    width: 50%;
    display: flex;
}

.code {
    max-height: 650px;
    z-index: 0;
    position: relative;
    left: 0px;
    z-index: 0;
}

.padlock {
    z-index: 1;
    height: 280px;
    width: 180px;
    position: relative;
    top: 390px;
    right: 50px;
}

.card_header {
    font-size: 28px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}



.card_sub_1 {
    border-top-left-radius: 30px;
    border: 2px solid #ccc;
    ;
}

.phone {
    height: 600px;
    z-index: 0;
    position: relative;
    left: 100px;
}

.card_sub_3 {
    border-bottom-left-radius: 30px;
}

.card_sub_2 {
    border-top-right-radius: 30px;
}

.card_sub_4 {
    border-bottom-right-radius: 30px;
}


.neon {
    color: greenyellow;
}

.card {
    width: 100%;
    height: 400px;

}

.card_sub {
    text-align: center;
    height: 200px;
    border: 1px solid gray;
}

.cta {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 130px;
}

.cta_btn_1 {
    width: 200px;
    background-color: greenyellow;
    height: 60px;
    color: black;
    border-radius: 30px;
}

.cta_btn_2 {
    width: 200px;
    border: 1px solid ghostwhite;
    height: 60px;
    border-radius: 30px;
}

.cta2 {
    background-color: greenyellow;
    margin-top: 200px;
}



.btclana {
    position: relative;
    right: 300px;
    top: 120px;
}

.eth {
    width: 123px;
    height: 193px;
    z-index: 2;
    position: relative;
    top: 370px;
    left: 150px;
}

.con {
    position: relative;
    right: 380px;
}

.apple {
    border: 1px black solid;
}



.slot {
    height: 480px;
    z-index: 1;
    position: relative;
    right: 200px;
    top: 125px;
}

.coin1 {
    width: 83px;
    height: 103px;
}

.coin2 {
    width: 110px;
    height: 153px;
}


.port {
    margin-left: 5%;
    margin-right: 5%;

}


.security {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 180px;
}

.company {
    text-align: center;
    font-size: 23px;
    margin-top: 130px;
}

.companies {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 974px) {
    .port {
        display: grid;
    }

    .slot_img {
        order: 2;
        margin-bottom: 150px;
        padding-left: 16%;
    }

    .trial_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .trial {
        text-align: center;
    }
}

@media only screen and (max-width: 962px) {
    .cta {
        display: grid;
        justify-content: center;
        align-items: center;
    }


}

@media only screen and (max-width: 768px) {
    .verificaton_text {
        width: 100%;
    }

    .cta4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .security {
        display: grid;
    }

    .verification {
        order: 2;
        padding-left: 15%;
    }

    .code {}

    .padlock {
        z-index: 1;
        height: 240px;
        width: 150px;
        position: relative;
        top: 190px !important;
        right: 50px;
    }

    .verification {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images_Section {
        width: 100%;
        padding-left: 10%;
    }

    .features_texts {
        width: 100%;
    }

    .features {
        display: grid;
    }

    .hero_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .hero_lap {
        margin-left: auto;
        margin-right: auto;
    }

    .hero_images {
        width: 100%;
    }

    .hero_text {
        width: 100%;
        text-align: center;
    }

    .hero_page {
        display: grid;
    }
}

@media only screen and (max-width: 1024px) {
    .bills {
        height: 200px;

    }
    .land_lap{
    height: 350px;
    }
    
    .slot_img {
        margin-bottom: 130px;
    }

    .btc {
        z-index: 1;
        height: 120px;
        position: relative;
        top: 450px;
        right: 370px;
    }

    .graph {
        z-index: 1;
        width: 270px;
        height: 250px;
        position: relative;
        top: 250px;
        right: 200px;
    }

    .code {
        height: 550px;
        z-index: 0;
        position: relative;
        left: 0px;
        z-index: 0;
        margin-top: 100px;
    }

    .lock {
        height: 550px;
        z-index: 0;
        position: relative;
        left: 150px;
        margin-top: 70px;
    }

    .capture {
        height: 200px;

    }


    .feature_head {
        font-size: 40px;
    }

    .hero_lap {
        width: 550px;
        margin-left: 20px;
    }



    .phone {
        height: 400px;
        z-index: 0;
        position: relative;
        left: 50px;
    }

    .slot {
        height: 380px;
        z-index: 1;
        position: relative;
        right: 220px;
        top: 125px;
    }

    .eth {
        width: 103px;
        height: 143px;
        z-index: 2;
        position: relative;
        top: 370px;
        left: 100px;
    }

    .coin2 {
        width: 90px;
        height: 123px;
    }




    .lana {
        position: absolute;
        right: 130px;
        top: 100px;
        width: 60px;
    }

    .soil {
        height: 130px;
    }

    .ether {
        height: 140px;
    }

    .padlock {
        z-index: 1;
        height: 240px;
        width: 150px;
        position: relative;
        top: 390px;
        right: 50px;
    }

    .hero_text_main {
        font-size: 40px;
        font-weight: bolder;
    }
}

@media only screen and (max-width: 425px) {
    .tutorial_text {
        text-align: center;
        font-size: 35px;
    }
    .cta3 {
        font-weight: 600;
        font-size: 35px;
    
    }
    .btc {
        z-index: 1;
        height: 120px;
        position: relative;
        top: 300px;
        right: 370px;
    }

    .lock {
        height: 450px !important;
        z-index: 0;
        position: relative;
        left: 0px !important;
        margin-top: 70px;
    }

    .feature_sub {
        font-size: 17px;
    }

    .feature_head {
        font-size: 30px;
    }

    .kin {
        font-size: 12px;
    }

    .cta_btn_2 {
        width: 150px;
        border: 1px solid ghostwhite;
        height: 60px;
        border-radius: 30px;
    }

    .cta_btn_1 {
        width: 150px;
        background-color: greenyellow;
        height: 60px;
        color: black;
        border-radius: 30px;
    }

    .lock {
        height: 550px;
        z-index: 0;
        position: relative;
        left: 0px !important;
        margin-top: 70px;
    }


    .graph {
        z-index: 1;
        width: 270px;
        height: 200px;
        position: relative;
        top: 250px !important;
        right: 200px !important;
    }

    .eth {
        width: 73px;
        height: 103px;
        z-index: 2;
        position: relative;
        top: 370px;
        left: 100px;
    }


    .images_Section {
        width: 100%;
        display: flex;
    }

    .text_btn_2 {
        width: 150px;
        background-color: black;
        color: white;
        border-radius: 25px;
        height: 50px;
        border: 1px solid white;
        font-weight: 600;
        font-size: 14px;
    }

    .text_btn_1 {
        width: 150px !important;
        background-color: greenyellow;
        color: black;
        border-radius: 25px;
        height: 50px;
        font-weight: 600;
        font-size: 14px;
    }


    .verification {
        margin-top: 250px;
    }

    .slot_img {
        order: 2;
        margin-bottom: 150px;
        padding-left: 0%;
    }

    .store2 {
        height: 30px;
        margin-top: 10px;
        margin-left: 0;
    }

    .code {
        max-height: 450px;
        z-index: 0;
        position: relative;
        left: 0px;
        z-index: 0;
    }

    .store {
        height: 30px;
        margin-top: 10px;
        margin-left: 0;
    }

    .step2 {
        font-size: 17px;
        margin-top: 20px;
        margin-left: 5px;
    }

    .date {
        text-align: left;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 40px;
    }

    .title {
        font-size: 17px;
        margin-top: 20px;
        margin-left: 5px;
    }

    .title2 {
        font-size: 18px;
    }

    .blogspost {
        border: 1px solid gray;
        padding-bottom: 10px;

    }
    .padlock {
        z-index: 1;
        height: 220px;
        width: 180px;
        position: relative;
        top: 390px;
        right: 50px;
    }
    
}
@media only screen and (max-width: 425px) {
    .slot_img {
        order: 2;
        margin-bottom: 150px;
        padding-left: 0%;
    }  
    .phone {
        height: 400px;
        z-index: 0;
        position: relative;
        left: 10px;
    }
    .eth {
        width: 73px;
        height: 103px;
        z-index: 2;
        position: relative;
        top: 390px;
        left: 50px;
    }
    .slot {
        height:320px;
        z-index: 1;
        position: relative;
        right: 200px;
        top: 125px;
    }
}